@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  padding: 8px 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
}

/* Header */

.page-header {
  padding: 0 70px;
  background-color: #ffffff;
}

.nav {
  display: flex;
}

.nav-logo {
  display: block;
  width: 140px;
  position: relative;
  z-index: 1;
  margin-right: 30px;
  margin-bottom: -10px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.nav-list-additional {
  margin-left: auto;
}

.nav-list-additional .nav-link {
  display: flex;
  min-width: 42px;
  min-height: 65px;
}

.nav-link-search {
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.nav-link-fav {
  position: relative;
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.fav-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  background-color: #7db54f;
  border-radius: 10px;
}

.nav-button {
  min-width: 160px;
  margin-left: 20px;
}

/* Sections */

.title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.hero {
  display: flex;
  height: 485px;
  color: #ffffff;
  background-color: #a9bfcc;
  background-image: url("../images/index-hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-img {
  display: block;
  margin: auto;
}

.advantages,
.service {
  background-color: #ffffff;
}

.advantages-content {
  max-width: 700px;
  padding: 70px 0;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-title {
  margin: 0;
  margin-bottom: 62px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.advantages-text {
  margin: 0;
  text-align: center;
}

.advantages-item-big {
  display: flex;
  background-color: #82b3d3;
}

.advantages-item-big .advantages-title,
.advantages-item-big .advantages-text {
  color: #ffffff;
}

.advantages-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 25px 85px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 400px;
  padding: 25px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-big > .advantages-title {
  color: #ffffff;
}

.service-content {
  max-width: 700px;
  padding: 65px 0;
  margin: 0 auto;
}

.service-title {
  margin: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.service-text {
  margin: 0;
  text-align: center;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 85px;
  width: 400px;
  min-height: 400px;
  background-color: rgba(131, 179, 211, 0.2);
}

.service-item:nth-child(even) {
  background-color: #ffffff;
}

.service-item-house::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background-image: url("../images/icons/house.svg");
  background-repeat: no-repeat;
}

.service-item-food::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background-image: url("../images/icons/food.svg");
  background-repeat: no-repeat;
}

.service-item-souvenirs::before {
  content: "";
  display: block;
  width: 75px;
  height: 80px;
  background-image: url("../images/icons/present.svg");
  background-repeat: no-repeat;
}

.search {
  padding: 96px 0;
  background-color: #ffffff;
}

.search-content {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  align-items: center;
}

.search-button {
  min-width: 376px;
  margin-top: 55px;
  font-size: 20px;
  line-height: 36px;
  cursor: pointer;
}

.subscribe {
  padding: 95px 0 105px;
  background-color: #a9bfcc;
  background-image: url("../images/index-subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-content {
  max-width: 685px;
  margin: 0 auto;
  text-align: center;
}

.subscribe .title,
.subscribe .text {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

.subscribe-button {
  min-width: 232px;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

/* Catalog page*/

.main-top-containter {
  padding: 35px 70px 70px;
  color: #ffffff;
  background-color: #a9bfcc;
  background-image: url("../images/catalog-filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
}

.main-header-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-home {
  display: block;
  width: 13px;
  height: 15px;
  margin-right: 28px;
  background-image: url("../images/icons/breadcrumb-home.svg");
  background-repeat: no-repeat;
}

/* Filter */

.filter-form {
  display: flex;
}

.filter-fieldset {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.filter-range {
  width: 290px;
  margin-left: 70px;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-form label {
  line-height: 23px;
}

.filter-submit {
  min-width: 190px;
  background-color: #82b3d3;
}

.filter-reset {
  min-width: 190px;
  background-color: transparent;
}

/* Catalog section */

.catalog {
  padding: 50px 70px 60px;
  background-color: #ffffff;
}

.catalog-content {
  margin-bottom: 40px;
  padding: 0;
  display: flex;
}

.catalog-title {
  margin: 0;
  margin-right: 200px;
  text-align: left;
}

.catalog-select {
  width: 292px;
  height: 50px;
  border: 2px solid #e5e5e5;
}

.catalog-view-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;
  max-width: 208px;
  gap: 8px;
  list-style-type: none;
}

.view-button {
  display: block;
  width: 46px;
  height: 46px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-repeat: no-repeat;
}

.view-button-dark {
  border-color: #000000;
}

.view-button.cards {
  background-image: url("../images/icons/view-card.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-button.tile {
  background-image: url("../images/icons/view-tile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-button.list {
  background-image: url("../images/icons/view-list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 20px;
}

.card {
  padding: 20px;
  width: 340px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.card-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.card-img {
  width: 100%;
  height: 212px;
  object-fit: cover;
  order: -1;
}

.card-description {
  display: flex;
  justify-content: space-between;
}

.card-description-pric {
  text-align: right;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.card-button {
  width: 140px;
}

.button-fav-add {
  background-color: #82b3d3;
}

.button-faved {
  background-color: #7db54f;
}

.card-rating {
  display: flex;
  justify-content: space-between;
}

.card-star {
  display: block;
  width: 24px;
  height: 18px;
  background-image: url("../images/icons/star.svg");
  background-repeat: repeat-x;
  background-position: 0 center;
  background-size: 24px 18px;
}

.star-two {
  width: 48px;
}

.star-three {
  width: 72px;
}

.star-four {
  width: 96px;
}

.star-five {
  width: 120px;
}

.card-rate {
  width: 140px;
  height: 37px;
  padding: 8px 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  gap: 8px;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-separator {
  color: #000000;
  background-color: transparent;
}

/* Footer */

.page-footer {
  display: flex;
  padding: 40px 70px 30px;
  background-color: #ffffff;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 141px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link {
  display: block;
  min-width: 47px;
  min-height: 40px;
}

.vkontakte {
  background-image: url("../images/logo-vkontakte.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.telegram {
  background-image: url("../images/logo-telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.youtube {
  background-image: url("../images/logo-youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.phone {
  margin: 0 auto;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
