@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  padding: 8px 8px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.button-basic {
  background-color: #756157;
}

.button-basic:hover {
  background-color: #615048;
}

.button-basic:focus-visible {
  background-color: #615048;
  outline: none;
}

.button-basic:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-second {
  background-color: #82b3d3;
}

.button-second:hover {
  background-color: #68a2ca;
}

.button-second:focus-visible {
  background-color: #68a2ca;
  outline: none;
}

.button-second:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-select {
  background-color: #7db54f;
}

.button-select:hover {
  background-color: #6c9e42;
}

.button-select:focus-visible {
  background-color: #6c9e42;
  outline: none;
}

.button-select:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
  cursor: not-allowed;
}

/* Header */

.page-header {
  padding: 0 70px;
  background-color: #ffffff;
}

.nav {
  display: flex;
}

.nav-logo {
  display: block;
  width: 140px;
  position: relative;
  z-index: 1;
  margin-right: 30px;
  margin-bottom: -10px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.nav-link-current {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-underline-offset: 18px;
  text-decoration-thickness: 2px;
  text-underline-position: under;
}

.nav-link:not(.nav-link-current):hover {
  color: #756157;
}

.nav-link:not(.nav-link-current):focus-visible {
  color: #756157;
  outline: none;
}

.nav-link:not(.nav-link-current):active {
  color: rgba(117, 97, 87, 0.3);
}

.nav-list-additional {
  margin-left: auto;
}

.nav-list-additional .nav-link {
  display: flex;
  min-width: 44px;
  min-height: 65px;
  padding-left: 12px;
  padding-right: 12px;
}

.nav-link-fav {
  position: relative;
}

.fav-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  right: 3px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  background-color: #7db54f;
  border-radius: 10px;
}

.nav-button {
  min-width: 160px;
  margin-left: 20px;
}

/* Sections */

.title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.hero {
  display: flex;
  height: 485px;
  color: #ffffff;
  background-color: #a9bfcc;
  background-image: url("../images/index-hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-img {
  display: block;
  margin: auto;
}

.advantages,
.service {
  background-color: #ffffff;
}

.advantages-content {
  max-width: 700px;
  padding: 70px 0;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.advantages-title::after {
  content: "";
  display: block;
  margin: 30px auto 0;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-big .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-text {
  margin: 0;
  text-align: center;
}

.advantages-item-big {
  display: flex;
  background-color: #82b3d3;
}

.advantages-item-big .advantages-title,
.advantages-item-big .advantages-text {
  color: #ffffff;
}

.advantages-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 25px 85px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 400px;
  padding: 25px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-big > .advantages-title {
  color: #ffffff;
}

.service-content {
  max-width: 700px;
  padding: 65px 0;
  margin: 0 auto;
}

.service-title {
  margin: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.service-text {
  margin: 0;
  text-align: center;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 85px;
  width: 400px;
  min-height: 400px;
  background-color: rgba(131, 179, 211, 0.2);
}

.service-item:nth-child(even) {
  background-color: #ffffff;
}

.service-item-house::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background-image: url("../images/icons/house.svg");
  background-repeat: no-repeat;
}

.service-item-food::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background-image: url("../images/icons/food.svg");
  background-repeat: no-repeat;
}

.service-item-souvenirs::before {
  content: "";
  display: block;
  width: 75px;
  height: 80px;
  background-image: url("../images/icons/present.svg");
  background-repeat: no-repeat;
}

.search {
  padding: 96px 0;
  background-color: #ffffff;
}

.search-content {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  align-items: center;
}

.search-button {
  min-width: 376px;
  margin-top: 55px;
  font-size: 20px;
  line-height: 36px;
  cursor: pointer;
}

.subscribe {
  padding: 95px 0 105px;
  background-color: #a9bfcc;
  background-image: url("../images/index-subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-content {
  max-width: 685px;
  margin: 0 auto;
  text-align: center;
}

.subscribe .title,
.subscribe .text {
  color: #ffffff;
}

.subscribe-form {
  display: grid;
  width: 684px;
  grid-template-columns: auto min-content;
  margin-top: 55px;
}

.subscribe-form input {
  width: 100%;
  height: 100%;
}

.subscribe-button {
  min-width: 232px;
  min-height: 52px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

/* Catalog page*/

.main-top-containter {
  padding: 35px 70px 70px;
  color: #ffffff;
  background-color: #a9bfcc;
  background-image: url("../images/catalog-filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
}

.main-header-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.main-header-item {
  position: relative;
  padding-right: 18px;
  margin-right: 10px;
}

.main-header-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 8px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/icons/breadcrumb-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-home {
  display: block;
  width: 13px;
  height: 15px;
  margin-right: 5px;
  background-image: url("../images/icons/breadcrumb-home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs:hover {
  opacity: 0.6;
}

.breadcrumbs:focus-visible {
  color: #ffffff;
  outline: none;
}

.breadcrumbs:active {
  opacity: 0.3;
}

/* Filter */

.filter-form {
  display: grid;
  grid-template-columns: min-content min-content auto min-content;
}

.filter-fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  min-width: 150px;
  min-height: 157px;
  border: none;
}

.filter-range {
  max-width: 290px;
  margin-left: 70px;
}

.range-inputs {
  display: grid;
  grid-template-columns: 143px 143px;
  grid-template-rows: 48px 20px;
  row-gap: 36px;
}

.range-inputs input {
  height: 100%;
}

.range-thumb {
  height: 100%;
}

.filter-title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-label + .filter-label {
  margin-top: 16px;
}

.filter-form label {
  line-height: 23px;
}

.filter-buttons {
  padding-top: 56px;
}

.filter-submit {
  min-width: 190px;
  margin-bottom: 32px;
  cursor: pointer;
}

.filter-reset {
  min-width: 190px;
  background-color: transparent;
  cursor: pointer;
}

.filter-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-reset:focus-visible {
  outline: 3px solid #83b3d3;

}

.filter-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-reset:disabled {
  color: rgba(255, 255, 255, 0.1);
  background-color: transparent;
}

/* Catalog section */

.catalog {
  padding: 50px 70px 60px;
  background-color: #ffffff;
}

.catalog-content {
  margin-bottom: 40px;
  padding: 0;
  display: flex;
}

.catalog-title {
  max-width: 400px;
  margin: 0;
  margin-right: 200px;
  text-align: left;
}

.catalog-select {
  width: 292px;
  height: 50px;
  border: 2px solid #e5e5e5;
}

.catalog-view-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;
  max-width: 208px;
  gap: 8px;
  list-style-type: none;
}

.view-button {
  display: block;
  width: 46px;
  height: 46px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-repeat: no-repeat;
}

.view-button-current {
  border-color: #000000;
}

.view-button:hover {
  border-color: #000000;
}

.view-button:focus-visible {
  outline: none;
  border-color: #68a2ca;
}

.view-button:active {
  border-color: #000000;
}

.view-button.cards {
  background-image: url("../images/icons/view-card.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-button.tile {
  background-image: url("../images/icons/view-tile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-button.list {
  background-image: url("../images/icons/view-list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
  gap: 20px;
  border-bottom: 1px solid #e6e6e6;

}

.card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 1fr;
  column-gap: 20px;
  row-gap: 16px;
  padding: 20px;
  width: 340px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.card-link {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.card-link:hover .card-title {
  color: #756157;
}

.card-link:focus-visible {
  outline: none;
}

.card-link:focus-visible .card-title {
  color: #756157;
  outline: none;
}

.card-link:active .card-title {
  color: rgba(117, 97, 87, 0.3);
}

.card-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.card-img {
  width: 100%;
  height: 212px;
  margin-bottom: 16px;
  object-fit: cover;
  order: -1;
}

.card-description-title {
  margin: 0;
}

.card-description-price {
  margin: 0;
  text-align: right;
}

.card-button {
  cursor: pointer;
}

.card-star {
  margin: 0;
  padding: 10px 0;
  width: 140px;
  height: 37px;
  background-image: url("../images/icons/star.svg");
  background-repeat: repeat-x;
  background-position: 0 center;
  background-size: 24px 18px;
}

.star-two {
  width: 48px;
}

.star-three {
  width: 72px;
}

.star-four {
  width: 96px;
}

.star-five {
  width: 120px;
}

.card-rate {
  margin: 0;
  width: 140px;
  padding: 8px 8px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  gap: 8px;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-separator {
  color: #000000;
  background-color: transparent;
}

.pagination-link:not(.pagination-link-current):not(.pagination-link-separator):hover {
  background-color: #68a2ca;
}

.pagination-link:not(.pagination-link-current):not(.pagination-link-separator):focus-visible {
  background-color: #68a2ca;
  outline: none;
}

.pagination-link:not(.pagination-link-current):not(.pagination-link-separator):active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current:focus-visible,
.pagination-link-separator:focus-visible {
  outline: none;
}

/* Subscribe */

.subscribe-catalog {
  background-image: none;
  background-color: #ffffff;
}

.subscribe-catalog .title {
  color: #000000;
}

.subscribe-catalog .text {
  color: #333333;
}

/* Footer */

.page-footer {
  display: flex;
  padding: 40px 70px 30px;
  background-color: #ffffff;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 141px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link {
  position: relative;
  display: block;
  min-width: 47px;
  min-height: 40px;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #83b3d3;
}

.social-link:hover .social-icon,
.social-link:focus-visible .social-icon {
  color: #68a2ca;
}

.social-link:focus-visible {
  outline: none;
}

.social-link:active .social-icon {
  color: rgba(104, 162, 202, 0.3);
}

.phone {
  margin: 0 auto;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.phone:hover {
  color: #756157;
}

.phone:focus-visible {
  color: #756157;
  outline: none;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.developer-icon {
  color: #000000;
}

.footer-developer:hover .developer-icon,
.footer-developer:focus-visible .developer-icon {
  color: #756157;
}

.footer-developer:focus-visible {
  outline: none;
}

.footer-developer:active .developer-icon {
  color: rgba(117, 97, 87, 0.3);
}
