@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 8px 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.nav-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}


.advantages-title,
.service-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.advantages-text,
.service-text {
  text-align: center;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  cursor: pointer;
}

.subscribe-button {
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
}

.phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;

}
